.box-search {
  width: 933px;
  padding: 40px;
  height: 312px;
  background-color: #fff;
  .type-movel {
    display: flex;
    .choice {
      color: #95939d;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        margin-bottom: 6px;
        margin: 10px;
        height: 20px;
      }
    }
  }
}
select {
  font-family: "FontAwesome", "";
}

.filters {
  display: flex;
  justify-content: space-between;

  .group-inpt-src {
    margin: 10px;
    width: 100%;
    max-width: 450px;
    select {
      width: 100%;
      margin: 5px 0px;
    }
    .sub-group-inpt-src {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  .group-btn-footer {
    display: flex;
    align-items: center;
  }
}
